@font-face {
    font-family: 'Asap';
    src: url(/fonts/Asap/static/Asap-Medium.ttf);
}

body {
    margin: 0 auto;
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}

div,
button {
    box-sizing: border-box;
}


.content {
    color: rgb(228, 228, 228);
    margin: 50px;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.contacts-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px 12px;
}

.content-title, .education-section, .infirmation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    height: 100px;
}

.content-line {
    border: 1px solid #ff4000;
}

.contacts-section {
    background-image: url(/images/2022-10-17\ 1.32.45\ AM.jpg);
}

.content-wrapper, .content-pic {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1000px;
}

.carousel-first-item {
    border-radius: 2px;
    cursor: pointer;
}

.carousel-first-item:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.footer {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-shadow: 3px 3px 10px #ff4000;
    padding: 50px;
}

.header_title {
    color: #ffffff;
    font-size: 50px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px ;
    width: 1440px;
    margin: 0px auto;
}

.logo-link {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.list-item {
    list-style: none;
}

.list-item-wrapper {
    align-items: center;
    background-color: #ff4000;
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
}

.list-item-wrapper:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(10, 110, 127);
}

.wrapper {
    background-image: url(/images/1640975610_1-abrakadabra-fun-p-temnie-oboi-na-noutbuk-1.jpg);
    width: 100%;
    margin: 0px auto;
}